Cython
cvxpy
cvxopt
numpy
scipy
pytesseract
pillow
opencv-python
opencv-contrib-python
scikit-image
git+https://github.com/ehtec/least-squares-ellipse-fitting
matplotlib
shapely
tqdm
colormath
colorthief
sklearn
nose2
coverage
pebble
fuzzywuzzy